{% extends "main.html" %}
{% load static %}
{% block content %}

<section class="team" style="margin-top: 7rem;">
    <h1 class="heading" style="margin-top: -1.5rem;" id="team">our team</h1>
    <p></p>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="Static\images\logo.png" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Schott Watkins</h3>
                <span>Web Developer</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="./images/pexels-vinicius-wiesehofer-1130624.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Nicole Bell</h3>
                <span>Mobile Developer</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="./images/pexels-hussein-altameemi-2776353.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>John Doe</h3>
                <span>Graphic Designer</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="./images/pexels-andrea-piacquadio-745136.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Rose Matthews</h3>
                <span>Web Designer</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
  </section>


{% endblock content %}
