{% extends "main.html" %}
{% load static %}
{% block content %}

<section class="team" style="margin-top: 7rem;">
    <h1 class="heading" style="margin-top: -1.5rem;" id="team">Our Team</h1>
    <p></p>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="C:\Users\hardi\OneDrive\Desktop\New folder\GrowMore\Static\images\krishiv.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Krishiv Dawra</h3>
                <span>2310991961</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="./images/pexels-vinicius-wiesehofer-1130624.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Kartik Nanda</h3>
                <span>2310991948</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="./images/pexels-hussein-altameemi-2776353.jpg" alt="Team member 1">
            </div>
            <div class="info">
                <h3>Hardik</h3>
                <span>2310990512</span>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/login" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
  </section>


{% endblock content %}
