{% extends "main.html" %}
{% load static %}
{% block head %}
<style>
    .chart a { 
      opacity:  0; 
      pointer-events: none;
    }
</style>
{% endblock head %}
{% block content %}
<div style="margin-top: 11rem;display: flex;" class="chart container" >
<div style="flex: 60">

    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
 {
    "width": "100%",
  "height": "400",
  "symbol": "BSE:ZOMATO",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "1",
  "locale": "en",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "calendar": false,
  "support_host": "https://www.tradingview.com"
}
    </script>
    </div>
</div>
<div style="flex: 40;">

</div>
    

</div>

<footer class="footer">
    
    <div class="footer-top" data-section>
        <div class="container">
            
            <div class="footer-brand">
                
                <a href="#" class="logo">
            <img src="./static/images/logo.png" width="75" height="75" alt="GrowMore logo">
            GrowMore
          </a>

          <h2 class="footer-title">Let's talk! 🤙</h2>

          <a href="tel:+123456789101" class="footer-contact-link">+91 94667-71896</a>
          
          <a href="mailto:hello.GrowMore@gmail.com" class="footer-contact-link">GrowMore@gmail.com</a>
          
          <address class="footer-contact-link">
              Chandigarh-Patiala National Highway Punjab 140401
            </address>
            
        </div>
        
        <ul class="footer-list">
            
            <li>
                <p class="footer-list-title">Products</p>
            </li>
            
            <li>
                <a href="#" class="footer-link">Spot</a>
            </li>
            
            <li>
                <a href="#" class="footer-link">Inverse Perpetual</a>
            </li>
            
            <li>
                <a href="#" class="footer-link">USDT Perpetual</a>
            </li>
            
            <li>
                <a href="#" class="footer-link">Exchange</a>
            </li>
            
            <li>
                <a href="#" class="footer-link">Launchpad</a>
            </li>
            
            <li>
                <a href="#" class="footer-link">Binance Pay</a>
            </li>
            
        </ul>

    </div>
</div>

</footer>


{% endblock content %}