{% load static %}
{% block head %}

<style>
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 75%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 20%;
    }
    .vertical-center a{
        font-size: 50px;
        background-color: rgb(10, 9, 47);
        color: aliceblue;
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    video{
        background-repeat: no-repeat;
        background-size: contain;
    }
            </style>

{% endblock head %}
{% block content %}

<section>

    <video src="./static/images/homepage.mp4" autoplay muted loop></video>

    <h1>
        <span>Welcome</span>

        <span>  </span>
        <span>T0</span>
        <span>  </span>
        <span>Your</span>
        <span>  </span>
        <span>Own</span>
        <spam>  </spam>
        <span>Market</span>
    </h1>
    <h2>
        <span><u>GroMore</u></span>
        
        <span><u>  </u></span>
        <span>!!!</span>
        <h1> </h1>
        <div class="container">
            <div class="vertical-center">
              <button><a href="menu.html"><b>Get Started</b></a></button>
            </div>
        </div>
    </h2>   
</section>

{% endblock content %}