{% extends "main.html" %}
{% load static %}
{% block head %}
<style>

  .market a { 
    opacity:  0; 
    pointer-events: none;
  }
  
</style>
{% endblock head %}
{% block content %}

<div class="market container" style="margin-top: 9rem;">


<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
  {
  "width": "100%",
  "height": "550",
  "symbolsGroups": [
  {
      "name": "STOCKS",
      "symbols": [
        {
          "name": "BSE:SBIN",
          "displayName": "STATE BANK OF INDIA "
        },
        {
          "name": "BSE:RELIANCE",
          "displayName": "RELIANCE "
        },
        {
          "name": "BSE:BPCL",
          "displayName": "BHARAT PETROLEUM "
        },
        {
          "name": "BSE:ONGC",
          "displayName": "OIL AND NATURAL GAS"
        },
        {
          "name": "BSE:COALINDIA",
          "displayName": "COAL INDIA"
        },
        {
          "name": "BSE:BHARTIARTL",
          "displayName": "AIRTEL"
        },
        {
          "name": "BSE:RCOM",
          "displayName": "RCOM"
        },
        {
          "name": "BSE:IRCTC",
          "displayName": "IRCTC"
        },
        {
          "name": "BSE:LICI",
          "displayName": "LIC"
        },
        {
          "name": "BSE:TCS",
          "displayName": "TCS"
        }


      ]
    },
    {
      "name": "F/O",
      "originalName": "Indices",
      "symbols": [
        {
          "name": "BSE:OILGAS",
          "displayName": "OIL&GAS"
        },
        {
          "name": "BSE:SENSEX",
          "displayName": "S&P BSE SENSEX"
        },
        {
          "name": "BSE:BANK",
          "displayName": "S&P BANK"
        },
        {
          "name": "BSE:TELCOM",
          "displayName": "TELCOM"
        },
        {
          "name": "NCDEX:GOLD",
          "displayName": "GOLD"
        }
      ]
    },
    {
      "name": "Forex",
      "originalName": "Forex",
      "symbols": [
        {
          "name": "FX:EURUSD",
          "displayName": "EUR to USD"
        },
        {
          "name": "FX:GBPUSD",
          "displayName": "GBP to USD"
        },
        {
          "name": "FX:USDJPY",
          "displayName": "USD to JPY"
        },
        {
          "name": "FX:USDCHF",
          "displayName": "USD to CHF"
        },
        {
          "name": "FX:AUDUSD",
          "displayName": "AUD to USD"
        },
        {
          "name": "FX:USDCAD",
          "displayName": "USD to CAD"
        }
      ]
    }
    
  ],
  "showSymbolLogo": true,
  "isTransparent": false,
  "colorTheme": "dark",
  "locale": "en",
  "backgroundColor": "#131722"
}
  </script>
</div>

</div>

{% endblock content %}